<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="top-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/past_images">Past Images</a></li>
        </ul>
    </nav>
    <div class="mosaic">
        {% for recording in recordings %}
        <a class="mosaic-item" href="{{ url_for('image', image_id=recording.id) }}">
            <div class="mosaic-content">
                <h2>
                    {{ recording.title }}
                </h2>
            </div>
            <img class="mosaic-image" src="{{ recording.thumbnail_url }}" alt="{{ recording.title }} thumbnail">
        </a>
        {% endfor %}
    </div>
</body>

</html>