<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dall-E 2 Image Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/Recorder.min.js') }}"></script>
    <script src="../static/js/audio_recorder.js"></script>
</head>

<body>
    <nav class="top-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/past_images">Past Images</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="header">
            <h1>Voice your vision</h1>
            <p>Press the button and describe the image you want to generate.</p>
            <p>Then wait 5 seconds.</p>
        </div>
        <div class="image-container">
            <img class="generated-image" id="generated-image" src="" alt="Generated Image">
        </div>
        <div class="record-section" style="text-align: center;">
            <button class="record-button" id="recordButton" style="background-color: red;">Start Recording</button>
        </div>
    </div>
</body>
</html>
